saved_models
lightning_logs
__pycache__/
notebooks
trackml-library/
acts.py
wandb
Results/
*.ckpt
*.tfevents.*
*.pt
Data/**/*.yaml
Data/**/*.csv
Data/**/*.tar
Data/**/*.zip
Data/**/*.h5
Data/**/*.hdf5
Data/**/*.root
Data/**/*.gz
Models/